*
{
  box-sizing: border-box;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  text-align: center;
}

body
{
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Georgia, Arial, sans-serif;
  overflow: auto;
  max-width: 1080px;
  margin: auto;
}

