
@font-face {
	font-family: "Segoe Print";
    src: url('/design/webfonts/segoepr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "Segoe Script";
    src: url('/design/webfonts/segoesc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}