/* ___________________________Mise en page restaurant Note Enchantée____________________________ */
.noteEnchantee
{
  background-color: $backgroundColorNoteEnchantee;
  font-family: "Segoe Print", sans-serif;
  color: rgba(61, 19, 25, 1);
  i
  {
    font-size: 4em;
    background: -webkit-linear-gradient(315deg, red 30%, orange 80%);
    background: linear-gradient(135deg, red 30%, orange 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

}