
.paletteDuGout
{
  background-color: $backgroundColorPaletteDuGout;
  font-family: 'Segoe Script Regular', serif;
  color: black;
  h2
  {
    background: -webkit-linear-gradient(280deg, green 20%, rgba(114,191,86,0.8) 60%);
    background: linear-gradient(170deg, green 20%, rgba(114,191,86,0.8) 60%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

