/* ___________________________Mise en page restaurant Le Chic à la française____________________________ */
.chicALaFrancaise
{
  background-color: $backgroundColorChicALaFrancaise;
  font-family: "Times New Roman", "Times New Roman", Times, serif, sans-serif;
  h2
  {
    background: -webkit-linear-gradient(275deg, rgba(198, 116, 18, 1) 40%, rgba(110, 76, 204, 1) 80%);
    background: linear-gradient(175deg, rgba(198, 116, 18, 1) 40%, rgba(110, 76, 204, 1) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

/* ___________________________Mise en page restaurant coulaurs menu Chic à la française____________________________ */
#chicALaFrancaise--color1
{
    color: rgba(198, 116, 18, 1);
}
#chicALaFrancaise--color2
{
    color: rgba(165, 103, 153, 1);
}
#chicALaFrancaise--color3
{
    color: rgba(110, 76, 204, 1);
}