/* ___________________________Mise en page restaurant Note Enchantée____________________________ */
.noteEnchantee
{
  background-color: $backgroundColorNoteEnchantee;
  font-family: "Segoe print", sans-serif;
  color: rgba(61, 19, 25, 1);
  i
  {
    font-size: 4em;
    background: linear-gradient(135deg, red 30%, orange 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  h2{font-family: "journalregular", "Segoe print", sans-serif;}
}