.deliceDesPapilles
{
  background-color: $backgroundColorDeliceDesPapilles;
  font-family: Arial, Arial, Helvetica, sans-serif;
  color: black;
  h2
  {
    background: -webkit-linear-gradient(280deg, blue 20% ,rgba(8, 135, 251, 1) 60%);
    background: linear-gradient(170deg, blue 20% ,rgba(8, 135, 251, 1) 60%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}