/* _______________________________Page d'accueil___________________________________ */

#paletteMenusAccueil
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  .deliceDesPapilles p
  {
    color: rgba(8, 135, 251, 1);
  }
  .chicALaFrancaise p
  {
    color: rgba(198, 116, 18, 1);
  }
  .paletteDuGout
  {
    color: rgba(114,191,86,1);
  }
}

.tuileAccueil
{
  height: 500px;
  width: 300px;
  border: solid 10px none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(207,216,220,1);
  margin: 2em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  h2
  {
    margin: 0em auto 1em;
  }
}

/* _______________________________Effet fondu au survol des tuiles_______________________________ */
.fadeEffect:hover
{
  opacity: 0.4;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  div
  {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
}


/* _______________________________Animation points de suspension_______________________________*/

@-webkit-keyframes typing {
  0% { -webkit-transform: scale(0); transform: scale(0); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes typing {
  0% { -webkit-transform: scale(0); transform: scale(0); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}

#soon
{
  display: flex;
  justify-content: center;
  margin: 1em;
  h2
  {
    background-color: $backgroundColorFooter;
    color: $textColorHeaderFooter;
    border-radius: 10px;
    padding: 0.5em;
  }
  #dotdotdot
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    padding: 2.5em 0 2em;
    .fa-circle
    {
      padding: 0 1em;
      color: $textColorHeaderFooter;
      -webkit-animation: typing 1.3s infinite;
              animation: typing 1.3s infinite;
      -webkit-transform-origin: center;
              transform-origin: center;
      @for $i from 1 through 3
      {
        &--#{$i} 
        {
          -webkit-animation-delay: 200ms * $i;
                  animation-delay: 200ms * $i;
        }
      }
    }
  }
}
