@charset "UTF-8";
* {
  box-sizing: border-box;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Times New Roman", Georgia, Arial, sans-serif;
  overflow: auto;
  margin: auto;
}

@font-face {
  font-family: "Segoe Print";
  src: url("/design/webfonts/segoepr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe Script";
  src: url("/design/webfonts/segoesc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* ___________________________Header____________________________ */
header {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  background-color: #579c87;
  height: 100px;
  color: #fdcb46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header h1 {
  font-size: 3em;
}
header h1 > a {
  text-decoration: none;
  color: #fdcb46;
}

/*____________________________footer_______________________________________*/
/* Effet wiggle/secoué */
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
footer {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  z-index: 1;
  background-color: #579c87;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: end;
  align-self: flex-end;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}
footer h3:hover {
  -webkit-animation: wiggle 0.7s;
  animation: wiggle 0.7s;
}
footer h3 a {
  text-decoration: none;
  color: #fdcb46;
  margin: 0 1em;
}

/* ___________________________Mise en page générale du site____________________________ */
.container {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin: auto;
  max-width: 1080px;
}
.container h2 {
  font-size: 1.6em;
}
.container > h2 {
  padding-top: 1em;
}
.container h3 {
  font-size: 1.4em;
}
.container p {
  font-size: 1.2em;
}

.menuCarte {
  border: solid 10px none;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #cfd8dc;
  margin: 3em;
  padding: 5em 0;
}
.menuCarte section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.menuCarte article {
  padding: 0 3em;
}
.menuCarte h3 {
  padding-top: 3em;
}
.menuCarte p {
  line-height: 2.5em;
  text-align: left;
}

.menu {
  padding: 0 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menuDecoration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menuDecoration img {
  width: 33%;
  position: relative;
  top: 2.4em;
  -o-object-fit: contain;
  object-fit: contain;
}
.menuDecoration h3 {
  position: relative;
}
.menuDecoration h3 span {
  position: absolute;
  height: 40px;
  width: 100%;
  border-bottom: solid 5px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
}
.menuDecoration h3:hover span {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

/*__________________________________Responsive____________________________________*/
@media screen and (max-width: 1080px) {
  .menuDecoration img {
    top: 2em;
  }

  .menuCarte {
    margin: auto;
  }
  .menuCarte article {
    padding: 0;
  }
}
@media screen and (max-width: 740px) {
  #paletteMenusAccueil {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tuileAccueil {
    margin: 2em auto;
  }

  .menuDecoration img {
    top: 1.6em;
  }

  .menu {
    padding: 1em 0;
  }
  .menu p {
    padding: 0 1em;
  }
}
@media screen and (max-width: 480px) {
  footer h3 a {
    margin: 0em;
  }

  .menuDecoration img {
    top: 2.4em;
  }
}
/* _______________________________Page d'accueil___________________________________ */
#paletteMenusAccueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
#paletteMenusAccueil .deliceDesPapilles p {
  color: #0887fb;
}
#paletteMenusAccueil .chicALaFrancaise p {
  color: #c67412;
}
#paletteMenusAccueil .paletteDuGout {
  color: #72bf56;
}

.tuileAccueil {
  height: 500px;
  width: 300px;
  border: solid 10px none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #cfd8dc;
  margin: 2em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tuileAccueil h2 {
  margin: 0em auto 1em;
}

/* _______________________________Effet fondu au survol des tuiles_______________________________ */
.fadeEffect:hover {
  opacity: 0.4;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.fadeEffect:hover div {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

/* _______________________________Animation points de suspension_______________________________*/
@-webkit-keyframes typing {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes typing {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
#soon {
  display: flex;
  justify-content: center;
  margin: 1em;
}
#soon h2 {
  background-color: #579c87;
  color: #fdcb46;
  border-radius: 10px;
  padding: 0.5em;
}
#soon #dotdotdot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2.5em 0 2em;
}
#soon #dotdotdot .fa-circle {
  padding: 0 1em;
  color: #fdcb46;
  -webkit-animation: typing 1.3s infinite;
  animation: typing 1.3s infinite;
  -webkit-transform-origin: center;
  transform-origin: center;
}
#soon #dotdotdot .fa-circle--1 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
#soon #dotdotdot .fa-circle--2 {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
#soon #dotdotdot .fa-circle--3 {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

/* ___________________________Mise en page restaurant Note Enchantée____________________________ */
.noteEnchantee {
  background-color: #fcdfdb;
  font-family: "Segoe Print", sans-serif;
  color: #3d1319;
}
.noteEnchantee i {
  font-size: 4em;
  background: -webkit-linear-gradient(315deg, red 30%, orange 80%);
  background: linear-gradient(135deg, red 30%, orange 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* ___________________________Mise en page restaurant Le Chic à la française____________________________ */
.chicALaFrancaise {
  background-color: #fff5fe;
  font-family: "Times New Roman", "Times New Roman", Times, serif, sans-serif;
}
.chicALaFrancaise h2 {
  background: -webkit-linear-gradient(275deg, #c67412 40%, #6e4ccc 80%);
  background: linear-gradient(175deg, #c67412 40%, #6e4ccc 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* ___________________________Mise en page restaurant coulaurs menu Chic à la française____________________________ */
#chicALaFrancaise--color1 {
  color: #c67412;
}

#chicALaFrancaise--color2 {
  color: #a56799;
}

#chicALaFrancaise--color3 {
  color: #6e4ccc;
}

.deliceDesPapilles {
  background-color: #edefef;
  font-family: Arial, Arial, Helvetica, sans-serif;
  color: black;
}
.deliceDesPapilles h2 {
  background: -webkit-linear-gradient(280deg, blue 20%, #0887fb 60%);
  background: linear-gradient(170deg, blue 20%, #0887fb 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.paletteDuGout {
  background-color: #fdfffd;
  font-family: "Segoe Script Regular", serif;
  color: black;
}
.paletteDuGout h2 {
  background: -webkit-linear-gradient(280deg, green 20%, rgba(114, 191, 86, 0.8) 60%);
  background: linear-gradient(170deg, green 20%, rgba(114, 191, 86, 0.8) 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#mentionsLegales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Arial, sans-serif;
  max-width: 1280px;
  margin: auto;
}
#mentionsLegales h2, #mentionsLegales h3, #mentionsLegales h4, #mentionsLegales h5 {
  color: #e84f13;
}
#mentionsLegales h2 {
  font-size: 2.3em;
  padding: 2em;
}
#mentionsLegales h3 {
  font-size: 2em;
  text-align: center;
  padding: 1em;
}
#mentionsLegales h4 {
  font-size: 1.5em;
  text-align: center;
}
#mentionsLegales h5 {
  font-size: 1.2em;
}
#mentionsLegales p {
  padding: 0.5em;
  /*font-size: 1.1em;*/
}
#mentionsLegales article {
  padding: 3% 0;
  border-top: solid 2px #E0E0E0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
