/* ___________________________Header____________________________ */

header
{
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-color: $backgroundColorHeader;
  height: 100px;
  color: $textColorHeaderFooter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  h1
  {
    font-size: 3em;
    > a
    {
      text-decoration: none;
      color: $textColorHeaderFooter;
    }
  }
}
