/* ___________________________Mise en page générale du site____________________________ */

.container
{
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  p
  {
    font-size: 2em;
  }
}

.menuCarte
{
  border: solid 10px none;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(207,216,220,1);
  margin: 3em;
  padding: 5em 0;
  section
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article
  {
    padding: 0 3em;
  }
  h2
  {
    font-size: 2em;
  }
  h3
  {
    font-size: 1.5em;
    padding-top: 3em;
  }
  p
  {
    font-size: 1.2em;
    line-height: 2.5em;
    text-align: left;
  }
}
.menu
{
  padding: 0 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  div
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menuDecoration
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  img
  {
    width: 33%;
    position: relative;
    top: 2.4em;
    -o-object-fit: contain;
       object-fit: contain;
  }
  h3
  {
    position: relative;
    span
    {
      position: absolute;
      height: 40px;
      width: 100%;
      border-bottom: solid 5px;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: left;
              transform-origin: left;
    }
    &:hover span
    {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition: 0.7s;
      transition: 0.7s;
    }
  }
}

/*__________________________________Responsive____________________________________*/
@media screen and (max-width: 1080px)
{
  .menuDecoration img {top: 2em;}
  .menuCarte
  {
    margin: auto;
    h2{font-size: 1.5em;}
    h3{font-size: 1.2em;}
    p{font-size: 1em;}
    article{padding: 0;}
  }
}
@media screen and (max-width: 740px)
{
  #paletteMenusAccueil
  {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tuileAccueil
  {
    margin: 2em auto;
  }
  .menuCarte
  {
    h2{font-size: 1.3em;}
    h3{font-size: 1em;}
    p{font-size: 0.8em;}
  }
  .menuDecoration img {top: 1.6em;}
  .menu
  {
    padding: 1em 0;
    p{padding: 0 1em;}
  }
}
@media screen and (max-width: 480px)
{
  footer
  {
    justify-content: space-around;
    h3 a{margin: 0em;}
  }
  .menuDecoration img {top: 1.3em;}
}
